// fonts
@font-face
    font-family: 'Sansation'
    src: url('../../assets/sansation/Sansation-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    src: url('../../assets/sansation/Sansation-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    src: url('../../assets/sansation/Sansation-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */

@font-face
    font-family: 'Sansation-Bold'
    src: url('../../assets/sansation/Sansation-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    src: url('../../assets/sansation/Sansation-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    src: url('../../assets/sansation/Sansation-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    
    
    
    

// sass vars
$color-1: #F3A257 // orange
$color-2: #5D49A8 // purple
$color-3: #B9ED75 // light green

$color-1_hover: #E16F9F // pinkish


$sans-serif: Candera, Calibri, 'Segoe UI', Noto Sans, Arial, sans-serif
$serif: Cambria, Lucida, Perpetua, Times, Times New Roman, serif


$mobile-screen: 430px
$tablet-screen: 768px





*
    box-sizing: border-box


\:root
    background-color: $color-1
    // font-family: $font, Verdana, Geneva, sans-serif
    font-size: 20px

@media only screen and (max-width: $mobile-screen)
    \:root
        font-size: 18px




body
    width: 100%
    height: 100%
    font-family: $serif

    
    
.flex
    display: flex
    flex-wrap: wrap



.button
    display: inline-block
    background-color: $color-1
    border: none
    border-radius: 3px
    padding: 10px 12px
    color: black
    text-decoration: none
    transition: background-color 0.2s

    &:hover
        cursor: pointer
        background-color: $color-1_hover


.button-primary
    background-color: $color-1

    &:hover
        background-color: $color-1_hover