// fonts
@font-face
    font-family: 'Sansation'
    src: url('../../assets/sansation/Sansation-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    src: url('../../assets/sansation/Sansation-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    src: url('../../assets/sansation/Sansation-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */

@font-face
    font-family: 'Sansation-Bold'
    src: url('../../assets/sansation/Sansation-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    src: url('../../assets/sansation/Sansation-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    src: url('../../assets/sansation/Sansation-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    
    
    
    

// sass vars
$color-1: #F3A257

$sans-serif: Candera, Calibri, 'Segoe UI', Noto Sans, Arial, sans-serif
$serif: Cambria, Lucida, Perpetua, Times, Times New Roman, serif


$mobile-screen: 430px
$tablet-screen: 768px





*
    box-sizing: border-box


\:root
    background-color: $color-1
    // font-family: $font, Verdana, Geneva, sans-serif
    font-size: 20px

@media only screen and (max-width: $mobile-screen)
    \:root
        font-size: 18px




body
    font-family: $serif

    
    
.flex
    display: flex
    flex-wrap: wrap


.flowchart-choice
    background-color: transparent
    margin: 0.5rem
    border: 2px solid black
    border-radius: 5px
    padding: 0.75rem
    text-align: center
    font-size: 1.2rem
    opacity: 0
    transition: transform 0.1s

    &:hover
        cursor: pointer
        background-color: salmon
        transform: scale(1.03, 1.03)