#flowchart-container
    width: 100vw
    max-width: 100%
    min-height: 100vh
    position: relative
    background-color: rgb(243,162,87) // background-color: $color-1
    // #F3A257 ($color-1)
    // #f4ab55
    // background: linear-gradient(180deg, rgba(220,131,49,1) 0%, rgba(243,162,87,1) 100%)
    background-image: linear-gradient(90deg, rgba(220,189,49,1) 0%, rgba(220,131,49,1) 50%, rgba(243,162,87,1) 100%)
    background-size: 400%
    animation: anime 50s infinite alternate

@keyframes anime
    0%
        background-position: right
    100%
        background-position: left



#hero-container
    width: 100%
    height: 100vh
    background-color: $color-2
    justify-content: center
    align-content: center
    color: white