#flowchart-container
    width: 100vw
    max-width: 100%
    height: 100vh
    position: relative
    // background-color: $color-1
    background: rgb(243,162,87)
    // #F3A257 ($color-1)
    // #f3b174
    background: linear-gradient(180deg, rgba(243,177,116,1) 0%, rgba(243,162,87,1) 100%)