/* ================== general classes ================== /*
.square-container
    .square
        width: 50%

    
    .square-text-container
        padding: 4rem

        .square-text
            margin: 0
            line-height: 3



.footnote
    font-size: 0.75rem
    opacity: .75


    
    

/* ================== module styles ================== /*
#flowchart-wrapper
    height: auto

    .spinner
        width: 120px
        height: 120px
        border: 8px solid whitesmoke
        border-top: 8px solid black
        border-radius: 50%
        animation-name: spin
        animation-duration: 1.5s
        animation-iteration-count: infinite
        animation-timing-function: linear

        @keyframes spin
            from
                transform: rotate(0deg)
            to
                transform: rotate(360deg)


    #flowchart-question-container
        padding: 5vh 0

        #flowchart-question
            display: block
            text-align: center
            font-size: 2rem


    #flowchart-choices-container
        justify-content: center
        align-content: center
        // view height - #flowchart-question-container padding - question span height - nav height
        min-height: calc(100vh - 10vh - 46px - 50px)
        height: auto
        padding: 1rem 3.5rem


        .flowchart-choice
            background-color: transparent
            margin: 0.5rem
            border: 2px solid black
            border-radius: 5px
            padding: 0.75rem
            text-align: center
            font-size: 1.2rem
            opacity: 0
            transition: transform 0.1s

            &:hover
                cursor: pointer
                background-color: salmon
                transform: scale(1.03, 1.03)


        .anime
            width: 225px
            margin: 0.5rem
            border: 2px solid black
            border-radius: 3px
            box-shadow: 2px 3px 8px black
            transition: transform 0.2s

            &:hover
                background-color: salmon
                transform: translateX(5px)

            .anime-image
                display: block
                width: 100%
                height: 320px
                border-bottom: 2px solid black
                object-fit: cover

            .anime-link
                    text-decoration: none
                    color: black

            .anime-title
                font-size: 1rem
                margin: 0
                padding: 0.25rem
    

    #flowchart-back-container
        position: fixed
        top: 0
        left: 0
        height: 100%

        &:hover
            cursor: pointer
        

        #flowchart-back
            display: block
            position: relative
            top: 50%
            font-weight: 700

            #back
                // icon from https://ikonate.com/
                // padding: 0.30rem

                &:hover
                    cursor: pointer
                    color: salmon



#nav-container
    height: 50px

    #nav-wrapper
        height: 100%
        justify-content: space-between
        align-content: center

        #logo
            padding-left: 1.5rem
            font-size: 1.25rem
            font-family: 'Sansation-Bold', $sans-serif



#hero-wrapper

    #hero-title
        margin-bottom: 0.25rem
        font-size: 2.5rem
        font-family: 'Sansation-Bold', $sans-serif

    #hero-subtitle
        margin: 0.25rem 0 1.75rem
        font-size: 1.1rem
        font-style: italic
        font-weight: 400



#about-wrapper,
#tech-wrapper
    .square
        position: relative

        .square-text
            margin-bottom: 10px

        .square-image
            width: 100%
            height: 100%
            object-fit: cover



#about-wrapper
    background-color: white

#tech-wrapper
    background-color: $color-2
    color: white



#steps-wrapper
    background-color: $color-3
    justify-content: space-evenly
    padding: 5rem


    .step
        position: relative
        width: 30%
        margin: 0.75rem auto

        .step-title
            margin-bottom: 0.4rem
            font-family: $sans-serif
            font-size: 1.4rem

        .step-desc
            line-height: 2

        .arrow-img
            position: absolute
            width: 40px
            height: 40px

        #arrow-1
            top: -40px
            right: 0
            transform: rotate(225deg)

        #arrow-2
            bottom: -40px
            right: 0
            transform: rotate(315deg)


#footnotes-wrapper
    background-color: white
    padding: 0.5rem

    .footnote
        margin-bottom: 0.5rem

        &:last-child
            margin-bottom: 0







// tablet
@media only screen and (max-width: $tablet-screen)
    .square-container
        .square
            width: 100%



    #flowchart-wrapper
        #flowchart-choices-container
            padding: 1rem 32px // 32px for the "back" svg



    #about-wrapper,
    #tech-wrapper
        .square
            .square-text-container
                .square-text
                    line-height: 2.25


    #steps-wrapper
        padding: 3rem 3rem 2rem


        .step
            width: 75%
            margin: 1.5rem 0.75rem

            #arrow-1
                top: unset
                bottom: -50px
                right: -35px
                transform: rotate(315deg)

            #arrow-2
                bottom: -50px
                left: -50px
                transform: rotate(45deg)










// mobile
@media only screen and (max-width: $mobile-screen)
    .square-container
        .square-text-container
            padding: 2rem


    #flowchart-wrapper

        #flowchart-question-container
            padding: 1rem 10px

        
        #flowchart-back-container
            left: -6px
            
            #flowchart-back
                #back
                    padding: 0.5rem 0.25rem


    #nav-container
        #nav-wrapper
            justify-content: center

            #logo
                padding-left: 0


    #about-wrapper
        .square-text-container
            padding: 5rem 2rem


    #steps-wrapper
        padding: 3rem 0 2rem

        .step
            #arrow-1
                right: -25px

            #arrow-2
                left: -25px