@font-face {
  font-family: 'Sansation';
  src: url("../../assets/sansation/Sansation-Regular.woff2") format("woff2");
  src: url("../../assets/sansation/Sansation-Regular.woff") format("woff");
  src: url("../../assets/sansation/Sansation-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Sansation-Bold';
  src: url("../../assets/sansation/Sansation-Bold.woff2") format("woff2");
  src: url("../../assets/sansation/Sansation-Bold.woff") format("woff");
  src: url("../../assets/sansation/Sansation-Bold.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

:root {
  background-color: #F3A257;
  font-size: 20px; }

@media only screen and (max-width: 480px) {
  :root {
    font-size: 18px; } }

body {
  width: 100%;
  height: 100%;
  font-family: Cambria, Lucida, Perpetua, Times, Times New Roman, serif; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.button {
  display: inline-block;
  background-color: #F3A257;
  border: none;
  border-radius: 3px;
  padding: 10px 12px;
  color: black;
  text-decoration: none;
  transition: background-color 0.2s; }
  .button:hover {
    cursor: pointer;
    background-color: #E16F9F; }

.button-primary {
  background-color: #F3A257; }
  .button-primary:hover {
    background-color: #E16F9F; }

#flowchart-container {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f3a257;
  background-image: linear-gradient(90deg, #dcbd31 0%, #dc8331 50%, #f3a257 100%);
  background-size: 400%;
  animation: anime 50s infinite alternate; }

@keyframes anime {
  0% {
    background-position: right; }
  100% {
    background-position: left; } }

#hero-container {
  width: 100%;
  height: 100vh;
  background-color: #5D49A8;
  justify-content: center;
  align-content: center;
  color: white; }

/* ================== general classes ================== /* */
.square-container .square {
  width: 50%; }

.square-container .square-text-container {
  padding: 4rem; }
  .square-container .square-text-container .square-text {
    margin: 0;
    line-height: 3; }

.footnote {
  font-size: 0.75rem;
  opacity: .75; }

/* ================== module styles ================== /* */
#flowchart-wrapper {
  height: auto; }
  #flowchart-wrapper .spinner {
    width: 120px;
    height: 120px;
    border: 8px solid whitesmoke;
    border-top: 8px solid black;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  #flowchart-wrapper #flowchart-question-container {
    padding: 5vh 0; }
    #flowchart-wrapper #flowchart-question-container #flowchart-question {
      display: block;
      text-align: center;
      font-size: 2rem; }
  #flowchart-wrapper #flowchart-choices-container {
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 10vh - 46px - 50px);
    height: auto;
    padding: 1rem 3.5rem; }
    #flowchart-wrapper #flowchart-choices-container .flowchart-choice {
      background-color: transparent;
      margin: 0.5rem;
      border: 2px solid black;
      border-radius: 5px;
      padding: 0.75rem;
      text-align: center;
      font-size: 1.2rem;
      opacity: 0;
      transition: transform 0.1s; }
      #flowchart-wrapper #flowchart-choices-container .flowchart-choice:hover {
        cursor: pointer;
        background-color: salmon;
        transform: scale(1.03, 1.03); }
    #flowchart-wrapper #flowchart-choices-container .anime {
      width: 225px;
      margin: 0.5rem;
      border: 2px solid black;
      border-radius: 3px;
      box-shadow: 2px 3px 8px black;
      transition: transform 0.2s; }
      #flowchart-wrapper #flowchart-choices-container .anime:hover {
        background-color: salmon;
        transform: translateX(5px); }
      #flowchart-wrapper #flowchart-choices-container .anime .anime-image {
        display: block;
        width: 100%;
        height: 320px;
        border-bottom: 2px solid black;
        object-fit: cover; }
      #flowchart-wrapper #flowchart-choices-container .anime .anime-link {
        text-decoration: none;
        color: black; }
      #flowchart-wrapper #flowchart-choices-container .anime .anime-title {
        font-size: 1rem;
        margin: 0;
        padding: 0.25rem; }
  #flowchart-wrapper #flowchart-back-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; }
    #flowchart-wrapper #flowchart-back-container:hover {
      cursor: pointer; }
    #flowchart-wrapper #flowchart-back-container #flowchart-back {
      display: block;
      position: relative;
      top: 50%;
      font-weight: 700; }
      #flowchart-wrapper #flowchart-back-container #flowchart-back #back:hover {
        cursor: pointer;
        color: salmon; }

#nav-container {
  height: 50px; }
  #nav-container #nav-wrapper {
    height: 100%;
    justify-content: space-between;
    align-content: center; }
    #nav-container #nav-wrapper #logo {
      padding-left: 1.5rem;
      font-size: 1.25rem;
      font-family: "Sansation-Bold", Candera, Calibri, "Segoe UI", Noto Sans, Arial, sans-serif; }

#hero-wrapper #hero-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  font-family: "Sansation-Bold", Candera, Calibri, "Segoe UI", Noto Sans, Arial, sans-serif; }

#hero-wrapper #hero-subtitle {
  margin: 0.25rem 0 1.75rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400; }

#about-wrapper .square,
#tech-wrapper .square {
  position: relative; }
  #about-wrapper .square .square-text,
  #tech-wrapper .square .square-text {
    margin-bottom: 10px; }
  #about-wrapper .square .square-image,
  #tech-wrapper .square .square-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#about-wrapper {
  background-color: white; }

#tech-wrapper {
  background-color: #5D49A8;
  color: white; }

#steps-wrapper {
  background-color: #B9ED75;
  justify-content: space-evenly;
  padding: 5rem; }
  #steps-wrapper .step {
    position: relative;
    width: 30%;
    margin: 0.75rem auto; }
    #steps-wrapper .step .step-title {
      margin-bottom: 0.4rem;
      font-family: Candera, Calibri, "Segoe UI", Noto Sans, Arial, sans-serif;
      font-size: 1.4rem; }
    #steps-wrapper .step .step-desc {
      line-height: 2; }
    #steps-wrapper .step .arrow-img {
      position: absolute;
      width: 40px;
      height: 40px; }
    #steps-wrapper .step #arrow-1 {
      top: -40px;
      right: 0;
      transform: rotate(225deg); }
    #steps-wrapper .step #arrow-2 {
      bottom: -40px;
      right: 0;
      transform: rotate(315deg); }

#footnotes-wrapper {
  background-color: white;
  padding: 0.5rem; }
  #footnotes-wrapper .footnote {
    margin-bottom: 0.5rem; }
    #footnotes-wrapper .footnote:last-child {
      margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  .square-container .square {
    width: 100%; }
  #flowchart-wrapper #flowchart-choices-container {
    padding: 1rem 32px; }
  #about-wrapper .square .square-text-container .square-text,
  #tech-wrapper .square .square-text-container .square-text {
    line-height: 2.25; }
  #steps-wrapper {
    padding: 3rem 3rem 2rem; }
    #steps-wrapper .step {
      width: 75%;
      margin: 1.5rem 0.75rem; }
      #steps-wrapper .step #arrow-1 {
        top: unset;
        bottom: -50px;
        right: -35px;
        transform: rotate(315deg); }
      #steps-wrapper .step #arrow-2 {
        bottom: -50px;
        left: -50px;
        transform: rotate(45deg); } }

@media only screen and (max-width: 480px) {
  .square-container .square-text-container {
    padding: 2rem; }
  #flowchart-wrapper #flowchart-question-container {
    padding: 1rem 10px; }
  #flowchart-wrapper #flowchart-back-container {
    left: -6px; }
    #flowchart-wrapper #flowchart-back-container #flowchart-back #back {
      padding: 0.5rem 0.25rem; }
  #nav-container #nav-wrapper {
    justify-content: center; }
    #nav-container #nav-wrapper #logo {
      padding-left: 0; }
  #about-wrapper .square-text-container {
    padding: 5rem 2rem; }
  #steps-wrapper {
    padding: 3rem 0 2rem; }
    #steps-wrapper .step #arrow-1 {
      right: -25px; }
    #steps-wrapper .step #arrow-2 {
      left: -25px; } }

.desktop {
  display: block; }

@media only screen and (max-width: 768px) {
  .desktop {
    display: none; } }
