#flowchart-wrapper

    .spinner
        width: 120px
        height: 120px
        border: 8px solid whitesmoke
        border-top: 8px solid black
        border-radius: 50%
        animation-name: spin
        animation-duration: 1.5s
        animation-iteration-count: infinite
        animation-timing-function: linear

        @keyframes spin
            from
                transform: rotate(0deg)
            to
                transform: rotate(360deg)


    #flowchart-question-container
        padding: 5vh 0

        #flowchart-question
            display: block
            text-align: center
            font-size: 2rem


    #flowchart-choices-container
        justify-content: center
        align-content: center
        width: 85%
        // view height - #flowchart-question-contaienr padding - font-size - line-height
        height: calc(100vh - 10vh - 2rem - 1.15rem)
        margin: 0 auto


        .anime
            width: 250px
            margin: 0.5rem

            .anime-image
                display: block
                width: 100%
                height: 300px
                object-fit: cover

            .anime-title
                font-size: 1rem
                margin: 0.5rem auto
    

    #flowchart-back-container
        position: absolute
        top: 50%
        left: 5px
        

        #flowchart-back
            display: block
            font-weight: 700

            #back
                // icon from https://ikonate.com/
                padding: 0.30rem

                &:hover
                    cursor: pointer
                    color: salmon










@media only screen and (max-width: $mobile-screen)
    #flowchart-wrapper

        #flowchart-question-container
            padding: 1rem 10px

        #flowchart-choices-container
            height: 100%

        
        #flowchart-back-container
            left: -6px
            
            #flowchart-back
                #back
                    padding: 0.5rem 0.25rem