#flowchart-wrapper

    .spinner
        content: ''
        width: 200px
        height: 200px
        border-top: 8px solid black
        border-radius: 50%
        animation-name: spin
        animation-duration: 1s
        animation-iteration-count: infinite
        animation-timing-function: linear

        @keyframes spin
            from
                transform: rotate(0deg)
            to
                transform: rotate(360deg)

    #flowchart-question-container
        #flowchart-question
            display: block
            padding: 2rem 0
            text-align: center
            font-size: 2rem


    #flowchart-choices-container
        justify-content: center
        width: 85%
        margin: 2rem auto 1rem


        .anime
            width: 250px
            margin: 0.5rem

            .anime-image
                display: block
                width: 100%
                height: 300px
                object-fit: cover

            .anime-title
                font-size: 1rem
                margin: 0.5rem auto
    

    #flowchart-back-container
        position: absolute
        top: 50%
        left: 5px
        

        #flowchart-back
            display: block
            font-weight: 700

            #back
                // icon from https://ikonate.com/
                padding: 0.30rem

                &:hover
                    cursor: pointer
                    color: salmon